.container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    section {
        height: 90vh;
    }
}

.code-wrapper {
    border-left: 10px dashed rgb(81, 81, 81);

    padding: 1rem;

    .button-bar {
        padding: 0.375rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button, div {
            margin-left: 0.5rem;
        }
    }
}