@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .title {
    font-family: "Press Start 2P", cursive;
    color: white;
    font-size: 5em;

    .flicker {
      animation: flicker 1s infinite;
    }

    @mixin keyframes() {
      @keyframes flicker {
        0% {
          color: white;
        }
        20% {
          color: #db3236;
        }
        40% {
          color: #3cba54;
        }
        60% {
          color: #4885ed;
        }
        80% {
          color: #f4c20d;
        }
        100% {
          color: white;
        }
      }
    }

    @include keyframes;
  }
}

.instructions {
  background: #1a1a1a;
  margin: 5px;
  padding: 10px 20px;
  

}

.instructions.description {
  border-left: 5px solid green;
}

.instructions h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title_cus {
  font-family: 'Poppoins', sans-serif;
}

.container {
  max-width: 1000px;
  margin: 30px auto;
  overflow: auto;
  border: 1px solid #3cba54;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}