.title {
  font-family: "Press Start 2P", cursive;
  color: white;
  font-size: 1.5em;

  .flicker {
    animation: flicker 1s infinite;
    padding-top: auto;
  }

  @mixin keyframes() {
    @keyframes flicker {
      0% {
        color: white;
      }
      20% {
        color: #db3236;
      }
      40% {
        color: #3cba54;
      }
      60% {
        color: #4885ed;
      }
      80% {
        color: #f4c20d;
      }
      100% {
        color: white;
      }
    }
  }

  @include keyframes;
}
